:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.025rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
.container-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://assets.website-files.com/6245b8598294a183abe645d8/6251ae2f83aa8cb43c3339a5_5c06f51d6e75c933fe05c728_giphy.gif");
  opacity: 0.06;
}

.container {
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  width: 41.25rem;
  height: 63.5rem;
  /* border: 3px solid; */
  padding: 15px;
  position: relative;
}

.detial {
  margin: 0;
}

p {
  margin-left: 1.5rem;
}

.arrayContainer {
  margin-left: 2.625rem;
}

.detial:hover {
  color: #46b9ad;
  text-decoration: none;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.static-txt {
  text-align: center;
}

.wrapper {
  margin-left: -0.1rem;
  display: flex;
  min-height: 1vh;
  background: #fafafa;
}
.wrapper .dynamic-txts {
  text-align: center;
  margin-left: -25px;
  height: 67.5px;
  line-height: 67.5px;
  overflow: hidden;
}
.dynamic-txts li {
  text-align: justify;
  list-style: none;
  color: #46b9ad;
  font-size: 45px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 9s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -270px;
  }
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
  border-left: 1.5px solid#46b9ad;
  animation: typing 2.25s steps(10) infinite;
}
@keyframes typing {
  90%,
  100% {
    left: calc(100% + 100px);
  }
  100% {
    left: 0;
  }
}

.languages {
  margin-left: 3rem;
}

.indentation {
  margin-right: 4.5rem;
}

body.dark .dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 97.5%;
  width: 100%;
  background: #020c1b;
  border-left: 1.5px solid #86fbfb;
  animation: typing 2.25s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 22.5px);
  }
  100% {
    left: 0;
  }
}

body.dark .wrapper {
  margin-left: -0.1rem;
  display: flex;
  min-height: 1vh;
  background: #020c1b;
}
body.dark .container-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://assets.website-files.com/6245b8598294a183abe645d8/6251ae2f83aa8cb43c3339a5_5c06f51d6e75c933fe05c728_giphy.gif");
  opacity: 0.06;
}

body.dark .container {
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  width: 41.25rem;
  height: 63.5rem;
  /* border: 3px solid; */
  padding: 15px;
  position: relative;
}
body.dark .detial {
  margin: 0;
  color: white;
}

body.dark .static-txt {
  color: white;
}

body.dark p {
  margin-left: 1.5rem;
}

body.dark .dynamic-txts li {
  text-align: justify;
  list-style: none;
  color: #86fbfb;
  font-size: 45px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 9s steps(4) infinite;
}

body.dark .detial:hover {
  color: #86fbfb;
  text-decoration: none;
}

body.dark .lastBracket {
  color: white;
}
.json-object {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.json-object.show {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.json-object.animate {
  animation: fadeIn 0.5s forwards;
}
