:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 4rem 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

nav a {
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: #16acac;
}

.home {
  font-family: var(--mono);
  font-size: 2.5rem;
}

.icon-container {
  border: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgb(73, 86, 118);
  padding: 6px;
}

body {
  background-color: #fafafa;
  color: #000;
}

/* styles-dark.css */
body.dark-mode {
  background-color: #171321;
  color: #fff;
}

#dark-mode-toggle {
  float: right;
  transform: translateY(-4em);
}

a {
  text-decoration: none;
}

body a {
  color: rgb(9, 9, 9);
}

body.dark-mode a {
  color: rgb(255, 255, 255);
}

body.dark-mode nav a:hover,
nav [class*="fa-"]:hover {
  color: #86fbfb;
}

.theme-button {
  min-width: 81px;
  min-height: 54px;
  font-size: 19.8px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 7.56px 7.56px 15.12px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 9px;
}

.theme-button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(81px + 7.56px);
  min-height: calc(54px + 7.56px);
  border: 3.78px solid #00ffcb;
  box-shadow: 0 0 37.8px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.theme-button:hover,
.theme-button:focus {
  color: #000000;
  transform: translateY(-6px);
}

.theme-button:hover::before,
.theme-button:focus::before {
  opacity: 1;
}

#darkMode {
  background: transparent url("../img/moon.png") no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: black;
}

body.light {
  background-color: #ffffff;
}

body.dark {
  background-color: #000000;
}
