:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

.intro {
  padding-bottom: 10rem;
}

.intro p {
  font-size: 0.7rem;
  line-height: 1.5;
}

.intro .name {
  font-family: var(--mono);
  font-size: 0.6rem;
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: #46b9ad;
  display: block;
  font-weight: 300;
}

.intro h2 {
  font-size: 2rem;
}

body.dark-mode .name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

img {
  width: 800px;
  height: 400px;
  float: right;
  margin-top: -4%;
}
.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.button {
  min-width: 270px;
  min-height: 54px;
  font-size: 19.8px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 10.8px 10.8px 21.6px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 9px;
}

.button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(270px + 10.8px);
  min-height: calc(54px + 10.8px);
  border: 5.4px solid #00ffcb;
  box-shadow: 0 0 54px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #000000;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.content {
  margin-left: 10rem;
}

.dark {
  opacity: 1;
}

#modal a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: #171321;
  max-width: 667px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(135deg, #00feba, #5b5481);
}

#modal .buttons button {
  display: inline-block;
  margin-right: 10px;
}

.temp {
  font-size: 4rem;
}

h2 {
  margin: 0.5rem;
  font-family: "Anton";
}

.weatherImage {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 480px) {
  /* Adjustments for smaller screens */
  body {
    font-size: 16px;
  }

  .intro p {
    font-size: 1rem;
  }

  .name span {
    font-size: 3rem;
  }

  img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    float: none;
  }

  .content {
    margin: 0;
  }

  .button {
    min-width: 180px;
    font-size: 16px;
    padding: 6px;
  }

  #modal > div {
    max-width: 90%;
  }

  .weatherImage {
    width: 100%;
    height: auto;
  }
}

body.light {
  background-color: #f7f8fa;
}

body.dark {
  background-color: #171321;
}

body.dark p {
  color: rgb(255, 255, 255);
}

body.dark h2 {
  color: rgb(255, 255, 255);
}
